@use "sass:map";
@import "_reset";

* {
    box-sizing: border-box;
}

$fontSize: 16px;
$medium-min: 768px;
$medium-max: 1023px;

html {
    font-size: $fontSize;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #fff;
}

h1 {
    font-size: 2*$fontSize;
}

h2 {
    font-size: 1.5*$fontSize;
}

strong {
    font-weight: bold;
}

$margins: ("s": 9%, "m": 5%, "l": 2.5%);
$device: "s";
@function get-width($cols) {
    $m: map.get($margins, $device);
    @return calc((100% - ($cols + 1) * $m) / $cols);
}

$border: 2px solid black;
$gray:  #e0e4cc;

#siteHeader {
    width: get-width(1);
    margin: 0px auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: 'Times New Roman', serif;
    h1 {
        display: flex;
        align-items: center;
        img {
            width: 5*$fontSize;
            height: auto;
        }
        span {
            padding-left: 20px;
            display: none;
        }
    }
    nav {
        display: flex;
        font-size: $fontSize*1.5;
        ul {
            li {
                display: inline-block;
                width: 80px;
            }
            display: none;
        }
        $menuButtonSize: 60px;
        #menuButton {
            align-self: center;
            display: block;
            height: $menuButtonSize;
            width: $menuButtonSize;
            border: $border;
            border-radius: 20px;
            background-color: $gray;
        }
        #menuButton::before {
            position: relative;
            left: calc($menuButtonSize / 6 - 4px);
            top: calc($menuButtonSize / 4 - 4px);
            content: "";
            display: block;
            width: calc($menuButtonSize * 2 / 3);
            border: $border;
            box-shadow: 
                0 calc($menuButtonSize / 4) black,
                0 calc($menuButtonSize / 2) black;
        }
    }
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.section {
    flex-basis: get-width(1);
    padding: 100px 30px 30px;
    position: relative;
    background-color: $gray;
    border: $border;
    margin-bottom: map.get($margins, $device);

    h2 {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
        padding: 10px 50px;
        text-align: center;
        border: $border;
    }
}

#firstSection h2 {
    background-color: #69d2e7;
}

#secondSection h2 {
    background-color: #f38630;
}

#thirdSection h2 {
    background-color: #e9aeaf;
}

@media only screen and (min-width: $medium-min) and (max-width: $medium-max) {
    $device: "m" !global;
    #siteHeader {
        width: get-width(1);
        h1 span {
            display: inline;
        }
    }
    .section {
        margin-bottom: map.get($margins, $device);
    }
    #firstSection {
        flex-basis: get-width(1);
    }
    #secondSection, #thirdSection {
        flex-basis: get-width(2);
    }
}

@media only screen and (min-width: ($medium-max + 1)) {
    $device: "l" !global;
    #siteHeader {
        width: get-width(1);
        h1 span {
            display: inline;
        }
        nav ul {
            display: block;
        }
        nav #menuButton {
            display: none;
        }
    }
    .section {
        flex-basis: get-width(3);
        margin-bottom: map.get($margins, $device);
    }
}

$footerHeight: 100px;

html {
    padding-bottom: $footerHeight;
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $gray;
    border-top: $border;
}